RewriteEngine On
RewriteBase /gusoft/public/

# Jangan proses jika file atau folder memang ada
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Arahkan semua request ke index.php
RewriteRule ^(.*)$ index.php [QSA,L]
